version: 2.1
jobs:
  build:
    working_directory: /app
    docker:
      - image: cimg/base:stable-20.04
    steps:
      - checkout
      - setup_remote_docker
          version: 20.10.11
          docker_layer_caching: true
      - restore_cache:
          keys:
            - v1-{{ .Branch }}
          paths:
            - /caches/app.tar
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i /caches/app.tar | true
      - run:
          name: bauhaus
          command: |
            docker build --cache-from=app -t ghcr.io/csf-ngs/hinkskalle-dev .
      - run:
          name: Save Docker image layer cache
          command: |
            mkdir -p /caches
            docker save -o /caches/app.tar app
      - save_cache:
          key: v1-{{ .Branch }}-{{ epoch }}
          paths:
            - /caches/app.tar
      - when:
          condition: << pipeline.git.tag >>
          steps:
            - run:
                name: pickerldrauf
                command: |
                  docker tag ghcr.io/csf-ngs/hinkskalle-dev ghcr.io/csf-ngs/hinkskalle-dev:<< pipeline.git.tag >>
            - run:
                name: pushraus
                  command:
                    echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin ghcr.io
                    docker push ghcr.io/csf-ngs/hinkskalle-dev:<< pipeline.git.tag >>
                    docker push ghcr.io/csf-ngs/hinkskalle-dev
      - deploy:
          name: Push application Docker image
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              login="$(aws ecr get-login)"
              ${login}
              docker tag app "${ECR_ENDPOINT}/app:${CIRCLE_SHA1}"
              docker push "${ECR_ENDPOINT}/app:${CIRCLE_SHA1}"
            fi
